body {
	background : #34495e;
	padding-top: 10vh;
}

form {
    padding: 20px;
	background: #2ecc71;
    border-radius: 10px;
}

.form {
	background: #27ae60;
}

.form-container {
	border-radius: 10px;
	padding      : 30px;
}

.status {
	display: none;
}

.header {
	text-align: center;
	color     :#B2B2B2;
}

.notice {
	font-size : 12px;
	color     :#B2B2B2;
	text-align: center;
	color     : lightblue;
}

.credit {
	text-align: center;
	color: #7A7A7A;
}
